.swiper {
  width: 280px;
  height: 200px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Cor do fundo do overlay */
  opacity: 0; /* Começa invisível */
  transition: opacity 0.3s ease; /* Transição suave */
}

.image-overlay p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.swiper-slide:hover .image-overlay {
  opacity: 1; /* Torna visível quando o mouse passa por cima */
}
