.card{
    width: 134px;
    height: 124px;
    padding: 28px, 72px, 24px, 16px;
    border-radius: 16px;
    border: 1px;
    gap: 8px;
    background: #171F2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
.tecnologies-image{
    width: 32px;
    height: 37.33px;
    top: 2.67px;
    margin-bottom: 8px;

}