.card {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid transparent; /* Adicionei solid */
  background: #171F2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionado transição para suavizar a animação */
}

.card:hover {
  transform: translateY(-5px); /* Move o card para cima ao passar o mouse */
  box-shadow: 0 0 20px 5px #009FD6; /* Adiciona um brilho ao fundo */
}

.tecnologies-image {
  width: 32px;
  height: 37.33px;
  margin-bottom: 8px;
}

